<app-navbar></app-navbar>
    <!-- breadcrumb Starts -->
    <section class="breadcrumb-outer">
        <div class="container">
          <div class="breadcrumb-content">
            <h2>Events</h2>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Events Grid</li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
      <!-- breadcrumb Ends -->
  
      <!-- events starts -->
      <section class="events">
        <div class="container">
          <div class="events-main1">
            <div class="row">
              <div class="col-lg-4 col-md-6 mar-bottom-30">
                <div class="news-item">
                  <div class="news-image">
                    <img src="images/news12.jpg" alt="image" />
                    <p class="dates white"><span class="white">16</span> DEC 2019</p>
                  </div>
                  <div class="news-content">
                    <h4>
                      <a href="events-detail.html">Wedding <span>Ceremony</span></a>
                    </h4>
                    <div class="meta mar-bottom-15">
                      <span class="time mar-right-10"> <i class="fas fa-clock"></i> 8:00 pm - 4:00 am</span>
                      <span class="location"> <i class="fas fa-map-marker"></i>PARIS, FRENCH</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                    <a href="events-detail.html">READ MORE <i class="fas fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mar-bottom-30">
                <div class="news-item">
                  <div class="news-image">
                    <img src="images/news13.jpg" alt="image" />
                    <p class="dates white"><span class="white">21</span> DEC 2019</p>
                  </div>
                  <div class="news-content">
                    <h4>
                      <a href="events-detail.html"><span>New Year</span> Party</a>
                    </h4>
                    <div class="meta mar-bottom-15">
                      <span class="time mar-right-10"> <i class="fas fa-clock"></i> 8:00 pm - 4:00 am</span>
                      <span class="location"> <i class="fas fa-map-marker"></i>PARIS, FRENCH</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                    <a href="events-detail.html">READ MORE <i class="fas fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mar-bottom-30">
                <div class="news-item">
                  <div class="news-image">
                    <img src="images/news14.jpg" alt="image" />
                    <p class="dates white"><span class="white">25</span> DEC 2019</p>
                  </div>
                  <div class="news-content">
                    <h4>
                      <a href="events-detail.html">Hotel <span>Autumn</span> 2020</a>
                    </h4>
                    <div class="meta mar-bottom-15">
                      <span class="time mar-right-10"> <i class="fas fa-clock"></i> 8:00 pm - 4:00 am</span>
                      <span class="location"> <i class="fas fa-map-marker"></i>PARIS, FRENCH</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                    <a href="events-detail.html">READ MORE <i class="fas fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mar-bottom-30">
                <div class="news-item">
                  <div class="news-image">
                    <img src="images/news10.jpg" alt="image" />
                    <p class="dates white"><span class="white">16</span> DEC 2019</p>
                  </div>
                  <div class="news-content">
                    <h4>
                      <a href="events-detail.html"><span>BBQ</span> and Beer</a>
                    </h4>
                    <div class="meta mar-bottom-15">
                      <span class="time mar-right-10"> <i class="fas fa-clock"></i> 8:00 pm - 4:00 am</span>
                      <span class="location"> <i class="fas fa-map-marker"></i>PARIS, FRENCH</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                    <a href="events-detail.html">READ MORE <i class="fas fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mar-bottom-30">
                <div class="news-item">
                  <div class="news-image">
                    <img src="images/news11.jpg" alt="image" />
                    <p class="dates white"><span class="white">21</span> DEC 2019</p>
                  </div>
                  <div class="news-content">
                    <h4>
                      <a href="events-detail.html"><span>Pool</span> Party</a>
                    </h4>
                    <div class="meta mar-bottom-15">
                      <span class="time mar-right-10"> <i class="fas fa-clock"></i> 8:00 pm - 4:00 am</span>
                      <span class="location"> <i class="fas fa-map-marker"></i>PARIS, FRENCH</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                    <a href="events-detail.html">READ MORE <i class="fas fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mar-bottom-30">
                <div class="news-item">
                  <div class="news-image">
                    <img src="images/news9.jpg" alt="image" />
                    <p class="dates white"><span class="white">25</span> DEC 2019</p>
                  </div>
                  <div class="news-content">
                    <h4>
                      <a href="events-detail.html">Music <span>Party</span></a>
                    </h4>
                    <div class="meta mar-bottom-15">
                      <span class="time mar-right-10"> <i class="fas fa-clock"></i> 8:00 pm - 4:00 am</span>
                      <span class="location"> <i class="fas fa-map-marker"></i>PARIS, FRENCH</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                    <a href="events-detail.html">READ MORE <i class="fas fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <nav class="pagination-content text-center">
                  <ul class="pagination">
                    <li class="page-item">
                      <a href="#" class="page-link"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">...</a></li>
                    <li class="page-item"><a href="#" class="page-link">10</a></li>
                    <li>
                      <a href="#" class="page-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Events Ends -->
  
      <!-- Footer Starts -->
      <footer>
        <div class="footer-top pad-bottom-20">
          <div class="container">
            <div class="footer-logo text-center">
              <img src="images/logo.png" alt="Image" />
            </div>
            <div class="footer-content">
              <div class="row">
                <div class="col-lg-3 col-md-6 mar-bottom-30">
                  <div class="footer-about">
                    <h4>Company Info</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius tellus vitae justo blandit ultrices.</p>
                  </div>
                  <div class="footer-payment">
                    <h4>We Accept</h4>
                    <ul>
                      <li><img src="images/icons/visa.png" alt="image" /></li>
                      <li><img src="images/icons/mastercard.png" alt="image" /></li>
                      <li><img src="images/icons/americanexpress.png" alt="image" /></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 mar-bottom-30">
                  <div class="quick-links">
                    <h4>Quick Links</h4>
                    <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Rooms</a></li>
                      <li><a href="#">Testimonials</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Gallery</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Contact</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 mar-bottom-30">
                  <div class="Rooms">
                    <h4>Rooms</h4>
                    <ul>
                      <li><a href="#">Single Rooms</a></li>
                      <li><a href="#">Double Rooms</a></li>
                      <li><a href="#">Studio Rooms</a></li>
                      <li><a href="#">Kingsize Rooms</a></li>
                      <li><a href="#">Presidentsuite Rooms</a></li>
                      <li><a href="#">Luxury Kings Rooms</a></li>
                      <li><a href="#">Connecting Rooms</a></li>
                      <li><a href="#">Murphy Rooms</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 mar-bottom-30">
                  <div class="footer-contact">
                    <h4>Contact info</h4>
                    <ul>
                      <li>Tel: 977-222-444-6666</li>
                      <li>Email: infohotux.com.np</li>
                      <li>Fax: 977-222-444-666</li>
                      <li>Address: 445 Mount Eden Road, Sundarbasti, Chakrapath</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright pad-bottom-20">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 mar-bottom-10">
                <div class="copyright-content">
                  <p>Copyright 2019. Made with <span>♥</span>. All Rights Reserved. <a href="#">Hotux</a></p>
                  <ul>
                    <li>
                      <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 mar-bottom-10">
                <div class="tripadvisor-logo text-center">
                  <img src="images/tripadvisor.png" alt="image" />
                </div>
              </div>
              <div class="col-lg-4 mar-bottom-10">
                <div class="copyright-links mar-bottom-20">
                  <ul>
                    <li><a href="#">Accomodations</a></li>
                    <li><a href="#">Book Now</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                  </ul>
                </div>
                <div class="playstore-links">
                  <img src="images/icons/appstore.png" alt="image" class="mar-right-10" />
                  <img src="images/icons/googleplay.png" alt="image" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer Ends -->
  
      <!-- Back to top start -->
      <div id="back-to-top">
        <a href="#"></a>
      </div>
      <!-- Back to top ends -->
  
      <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content login-content">
            <div class="login-image">
              <img src="images/logo-black.png" alt="image" />
            </div>
            <h3>Hello!Sign into your account</h3>
            <form>
              <div class="form-group">
                <input type="email" placeholder="Enter email address" />
              </div>
              <div class="form-group">
                <input type="password" placeholder="Enter password" />
              </div>
              <div class="form-group form-checkbox">
                <input type="checkbox" /> Remember Me
                <a href="#">Forgot password?</a>
              </div>
            </form>
            <div class="form-btn">
              <a href="#" class="btn btn-orange">LOGIN</a>
              <p>Need an Account?<a href="#"> Create your Hotux account</a></p>
            </div>
            <ul class="social-links">
              <li>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="modal fade" id="register" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content login-content">
            <div class="login-image">
              <img src="images/logo-black.png" alt="image" />
            </div>
            <h3>Awesome! Create a Hotux Account</h3>
            <form>
              <div class="form-group">
                <input type="text" placeholder="Enter username" />
              </div>
              <div class="form-group">
                <input type="email" placeholder="Enter email address" />
              </div>
              <div class="form-group">
                <input type="password" placeholder="Enter password" />
              </div>
              <div class="form-group">
                <input type="password" placeholder="Confirm password" />
              </div>
            </form>
            <div class="form-btn">
              <a href="#" class="btn btn-orange">SIGN UP</a>
            </div>
            <ul class="social-links">
              <li>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  