<app-navbar></app-navbar>
    <!-- breadcrumb Starts -->
    <section class="breadcrumb-outer">
        <div class="container">
          <div class="breadcrumb-content">
            <h2>Contact us 1</h2>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact us 2</li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
      <!-- breadcrumb Ends -->
  
      <!-- contact starts -->
      <section class="contact">
        <div class="container">
          <div class="contact-info">
            <div class="row">
              <div class="col-lg-4 col-md-12 mar-bottom-30">
                <div class="info-item">
                  <div class="info-icon">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <div class="info-content">
                    <p>445 Mount Eden Road, Mt Edenward land</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mar-bottom-30">
                <div class="info-item info-item-or">
                  <div class="info-icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <div class="info-content">
                    <p>977-444-666-888</p>
                    <p>977-444-222-000</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mar-bottom-30">
                <div class="info-item">
                  <div class="info-icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="info-content">
                    <p>infohotux.com.np</p>
                    <p>helphotux.com.np</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="contact-support">
            <div class="row">
              <div class="col-lg-4 col-md-12 mar-bottom-30">
                <div class="support-item">
                  <h4>Costumer Support</h4>
                  <p class="mar-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit facilisis nisi.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mar-bottom-30">
                <div class="support-item">
                  <h4>Technical Support</h4>
                  <p class="mar-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit facilisis nisi.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mar-bottom-30">
                <div class="support-item">
                  <h4>Booking Queries</h4>
                  <p class="mar-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit facilisis nisi.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="contact-map">
            <div class="row">
              <div class="col-lg-6">
                <div id="map" style="height: 535px; width: 100%"></div>
              </div>
              <div class="col-lg-6">
                <div id="contact-form" class="contact-form">
                  <h3>Keep in Touch</h3>
                  <div id="contactform-error-msg"></div>
  
                  <form method="post" action="#" name="contactform" id="contactform">
                    <div class="form-group">
                      <input type="text" name="first_name" class="form-control" id="fname" placeholder="First Name" />
                    </div>
                    <div class="form-group">
                      <input type="text" name="last_name" class="form-control" id="lname" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" id="email" placeholder="Email" />
                    </div>
                    <div class="form-group">
                      <input type="text" name="phone" class="form-control" id="phnumber" placeholder="Phone" />
                    </div>
                    <div class="textarea">
                      <textarea name="comments" placeholder="Enter a message"></textarea>
                    </div>
                    <div class="comment-btn text-right">
                      <input type="submit" class="btn btn-orange" id="submit" value="Send Message" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- contact Ends -->
  
      <!-- Footer Starts -->
      <footer>
        <div class="footer-top pad-bottom-20">
          <div class="container">
            <div class="footer-logo text-center">
              <img src="images/logo.png" alt="Image" />
            </div>
            <div class="footer-content">
              <div class="row">
                <div class="col-lg-3 col-md-6 mar-bottom-30">
                  <div class="footer-about">
                    <h4>Company Info</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius tellus vitae justo blandit ultrices.</p>
                  </div>
                  <div class="footer-payment">
                    <h4>We Accept</h4>
                    <ul>
                      <li><img src="images/icons/visa.png" alt="image" /></li>
                      <li><img src="images/icons/mastercard.png" alt="image" /></li>
                      <li><img src="images/icons/americanexpress.png" alt="image" /></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 mar-bottom-30">
                  <div class="quick-links">
                    <h4>Quick Links</h4>
                    <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Rooms</a></li>
                      <li><a href="#">Testimonials</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Gallery</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Contact</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 mar-bottom-30">
                  <div class="Rooms">
                    <h4>Rooms</h4>
                    <ul>
                      <li><a href="#">Single Rooms</a></li>
                      <li><a href="#">Double Rooms</a></li>
                      <li><a href="#">Studio Rooms</a></li>
                      <li><a href="#">Kingsize Rooms</a></li>
                      <li><a href="#">Presidentsuite Rooms</a></li>
                      <li><a href="#">Luxury Kings Rooms</a></li>
                      <li><a href="#">Connecting Rooms</a></li>
                      <li><a href="#">Murphy Rooms</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 mar-bottom-30">
                  <div class="footer-contact">
                    <h4>Contact info</h4>
                    <ul>
                      <li>Tel: 977-222-444-6666</li>
                      <li>Email: infohotux.com.np</li>
                      <li>Fax: 977-222-444-666</li>
                      <li>Address: 445 Mount Eden Road, Sundarbasti, Chakrapath</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright pad-bottom-20">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 mar-bottom-10">
                <div class="copyright-content">
                  <p>Copyright 2019. Made with <span>♥</span>. All Rights Reserved. <a href="#">Hotux</a></p>
                  <ul>
                    <li>
                      <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 mar-bottom-10">
                <div class="tripadvisor-logo text-center">
                  <img src="images/tripadvisor.png" alt="image" />
                </div>
              </div>
              <div class="col-lg-4 mar-bottom-10">
                <div class="copyright-links mar-bottom-20">
                  <ul>
                    <li><a href="#">Accomodations</a></li>
                    <li><a href="#">Book Now</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                  </ul>
                </div>
                <div class="playstore-links">
                  <img src="images/icons/appstore.png" alt="image" class="mar-right-10" />
                  <img src="images/icons/googleplay.png" alt="image" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer Ends -->
  
      <!-- Back to top start -->
      <div id="back-to-top">
        <a href="#"></a>
      </div>
      <!-- Back to top ends -->
  
      <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content login-content">
            <div class="login-image">
              <img src="images/logo-black.png" alt="image" />
            </div>
            <h3>Hello!Sign into your account</h3>
            <form>
              <div class="form-group">
                <input type="email" placeholder="Enter email address" />
              </div>
              <div class="form-group">
                <input type="password" placeholder="Enter password" />
              </div>
              <div class="form-group form-checkbox">
                <input type="checkbox" /> Remember Me
                <a href="#">Forgot password?</a>
              </div>
            </form>
            <div class="form-btn">
              <a href="#" class="btn btn-orange">LOGIN</a>
              <p>Need an Account?<a href="#"> Create your Hotux account</a></p>
            </div>
            <ul class="social-links">
              <li>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="modal fade" id="register" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content login-content">
            <div class="login-image">
              <img src="images/logo-black.png" alt="image" />
            </div>
            <h3>Awesome! Create a Hotux Account</h3>
            <form>
              <div class="form-group">
                <input type="text" placeholder="Enter username" />
              </div>
              <div class="form-group">
                <input type="email" placeholder="Enter email address" />
              </div>
              <div class="form-group">
                <input type="password" placeholder="Enter password" />
              </div>
              <div class="form-group">
                <input type="password" placeholder="Confirm password" />
              </div>
            </form>
            <div class="form-btn">
              <a href="#" class="btn btn-orange">SIGN UP</a>
            </div>
            <ul class="social-links">
              <li>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  