<div class="main-wrapper">
    <!-- sidebar starts -->
    <app-navbaradmin></app-navbaradmin>
    <!-- sidebar Ends -->

    <div class="page-wrapper">
      <!-- navbar Starts -->
      <nav class="navbar">
        <a href="#" class="sidebar-toggler">
          <i data-feather="menu"></i>
        </a>
        <div class="navbar-content">
          <form class="search-form w-25">
            <div class="input-group">
              <div class="input-group-text">
                <i data-feather="search"></i>
              </div>
              <input type="text" class="form-control" id="navbarForm" placeholder="Search here..." />
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="notificationDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i data-feather="bell"></i>
                <div class="indicator">
                  <div class="circle"></div>
                </div>
              </a>
              <div class="dropdown-menu p-0" aria-labelledby="notificationDropdown">
                <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
                  <p>6 New Notifications</p>
                  <a class="text-muted">Clear all</a>
                </div>
                <div class="p-1">
                  <a class="dropdown-item d-flex align-items-center py-2">
                    <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                      <i class="icon-sm text-white" data-feather="gift"></i>
                    </div>
                    <div class="flex-grow-1 me-2">
                      <p>New Order Recieved</p>
                      <p class="tx-12 text-muted">30 min ago</p>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center py-2">
                    <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                      <i class="icon-sm text-white" data-feather="alert-circle"></i>
                    </div>
                    <div class="flex-grow-1 me-2">
                      <p>Server Limit Reached!</p>
                      <p class="tx-12 text-muted">1 hrs ago</p>
                    </div>
                  </a>
                </div>
                <div class="px-3 py-2 d-flex align-items-center justify-content-center border-top">
                  <a>View all</a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="profileDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img class="wd-30 ht-30 rounded-circle" src="../images/review1.jpg" alt="profile" />
              </a>
              <div class="dropdown-menu p-0" aria-labelledby="profileDropdown">
                <div class="d-flex flex-column align-items-center border-bottom px-5 py-3">
                  <div class="mb-3">
                    <img class="wd-80 ht-80 rounded-circle" src="../images/review1.jpg" alt="" />
                  </div>
                  <div class="text-center">
                    <p class="tx-16 fw-bolder">Nelson Kelly Burton</p>
                    <p class="tx-12 text-muted">nelsonngmail.com</p>
                  </div>
                </div>
                <ul class="list-unstyled p-1">
                  <li class="dropdown-item py-2">
                    <a href="profile.html" class="text-body ms-0">
                      <i class="me-2 icon-md" data-feather="user"></i>
                      <span>Profile</span>
                    </a>
                  </li>
                  <li class="dropdown-item py-2">
                    <a class="text-body ms-0">
                      <i class="me-2 icon-md" data-feather="edit"></i>
                      <span>Edit Profile</span>
                    </a>
                  </li>
                  <li class="dropdown-item py-2">
                    <a class="text-body ms-0">
                      <i class="me-2 icon-md" data-feather="repeat"></i>
                      <span>Switch User</span>
                    </a>
                  </li>
                  <li class="dropdown-item py-2">
                    <a class="text-body ms-0">
                      <i class="me-2 icon-md" data-feather="log-out"></i>
                      <span>Log Out</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- navbar Ends -->

      <!-- Page Content Starts -->
      <div class="page-content">
        <nav class="page-breadcrumb d-flex align-items-center justify-content-between">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Rooms</li>
          </ol>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addslider">
            <i class="link-icon" data-feather="plus"></i> Add Room
          </button>
        </nav>

   

        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Number</th>
                            <th>Thumbnail</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Bed Number</th>
                            <th>Price</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                      
                        <tbody >
                          <tr *ngFor="let room of roomss">
                            <td>{{ room.id }}</td>
                            <td>{{ room.number }}</td>
                            <td>
                              <img *ngIf="room.thumbnail" [src]="room.thumbnail" style="width: 200px; max-height: 200px; display: block; margin: 0 auto;" />
                            </td>
                            <td>{{ room.name }}</td>
                            <td>{{ room.description }}</td>
                            <td>{{ room.bednbr }}</td>
                            <td>${{ room.price }}</td>
                            <td class="text-center">
                              <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                <li class="me-2">
                                  <a href="#"><i class="link-icon" data-feather="eye"></i></a>
                                </li>
                                <li class="me-2">
                                  <!-- <a href="#" (click)="editRoom(room.id)"><i class="link-icon" data-feather="edit"></i></a> -->
                                </li>
                                <li>
                                  <a (click)="deleteRoom(room.id)"><i class="link-icon" data-feather="delete"></i></a>
                                </li>
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      
                      <ng-template #noRooms>
                        <p>No rooms available.</p>
                      </ng-template>
                      
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="dataTables_paginate">
            <ul class="pagination">
              <li class="paginate_button page-item">
                <a href="#" class="page-link">Previous</a>
              </li>
              <li class="paginate_button page-item active"><a href="#" class="page-link">1</a></li>
              <li class="paginate_button page-item"><a href="#" class="page-link">2</a></li>
              <li class="paginate_button page-item"><a href="#" class="page-link">3</a></li>
              <li class="paginate_button page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Content Ends -->

      <!-- footer Starts -->
      <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
        <p class="text-muted mb-1 mb-md-0">Copyright © 2022 <a href="../index.html" target="_blank">Hotux</a>.</p>
        <p class="text-muted">Powered By <i class="mb-1 text-primary ms-1 icon-sm" data-feather="heart"></i> Bizberg Themes</p>
      </footer>
      <!-- footer Ends -->
    </div>
  </div>

  <div class="modal fade" id="addslider" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="exampleModalLabel">Add Room</h5>
        </div>
        <div class="modal-body">
          <form class="forms-sample" [formGroup]="roomForm" (ngSubmit)="addRoom()">
            <div class="mb-3">
              <label for="upload" class="form-label">Upload Images</label>
              <input class="form-control" id="thumbnail" type="file" (change)="onFileSelect($event)"  required />
            </div>
            <div class="mb-3">
              <label for="subtitle" class="form-label">Name</label>
              <input type="text" formControlName="name" class="form-control" id="subtitle" autocomplete="off" placeholder=""  required />
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Price</label>
              <input  class="form-control" id="price" type="number" formControlName="price" required />
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">bednbr</label>
                <input class="form-control" id="bednbr" formControlName="bednbr"  id="price" type="number"  required />
              </div>
              <div class="mb-3">
                <label for="title" class="form-label">Number</label>
                <input  class="form-control" id="number" type="number" formControlName="number"  required />
              </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea id="description" formControlName="description" class="form-control" required></textarea>
          </div>
            
            <div class="text-center">
              <button type="submit" [disabled]="roomForm.invalid" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i> Add Room</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>